body {
  margin: 0;
  color: #fbc503;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}

.navbar {
  background-color: black;
}

.navbar-brand img {
  width: 150px;
}

.nav-link {
  color: #fbc503;
}

.active {
  display: block;
}

#userDisplay {
  text-align: right;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #000;
  color: #fbc503;
}
.nav-link {
  background: none;
  border: none;
  color: #fbc503;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:focus {
  outline: none;
}
#logoutLink {
  background: none;
  border: none;
  color: #fbc503;
  text-decoration: underline;
  cursor: pointer;
}

#logoutLink:focus {
  outline: none;
}
/* main.css */
main {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
}

.home-section {
  flex: auto;
}

.content-container {
  display: flex;
  flex-direction: row; /* Organiza las secciones de contenido en una fila */
  gap: 20px; /* Espacio entre las secciones de contenido */
}

.content-section {
  flex: 1; /* Las secciones se expanden para llenar el contenedor */
}
